<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ .Params.Title }}</title>
<link rel="stylesheet" href="/css/bootstrap-3.3.2.min.css">
<link rel="stylesheet" href="/css/fontawesome-5.0.1.min.css">
<link rel="stylesheet" href="/css/fontawesome-brands-5.0.1.min.css">
<link rel="stylesheet" href="/css/jumbotron-narrow.css">
<link rel="stylesheet" href="/css/webfonts.css">
<style type="text/css">
body {
  font-family: "Open Sans";
}

.docs {
  margin-bottom: 2em;
}

.docs li {
  margin-top: 2em;
}

.contact li {
  margin-top: 1em;
}

.releases .links a {
  margin-right: 1em;
}
</style>
</head>
<body>
    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">

            <!-- TODO: add class="active" -->
              <li role="presentation" ><a href="/assets/css/style.css"></a></li>
            
              <li role="presentation" ><a href="/">Home</a></li>
            
              <li role="presentation"><a href="/docs/">Docs</a></li>
            
              <li role="presentation" ><a href="/releases/">Releases</a></li>
            
              <li role="presentation" ><a href="/contact/">Contact</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">RobustIRC</h3>
      </div>

      {{- block "main" . }}{{- end }}

      <footer class="footer" style="text-align: center">
        <p>&copy; 2014 <a href="https://github.com/robustirc/bridge/blob/master/AUTHORS">The RobustIRC Authors</a></p>
      </footer>

    </div>

<!-- TODO: only include this on index -->
<script type="text/javascript" src="/js/jquery-2.1.3.min.js"></script>
<script type="text/javascript" src="/js/jquery.ba-hashchange.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
  var network = $('#network')[0];
  var currentNetwork = network.value;
  var client = $('#client')[0];
  var currentClient = client.value;

  var updateHash = function() {
    var args = [];
    if (currentNetwork != 'robustirc.net') {
      args.push(currentNetwork);
    }
    if (currentClient != 'irssi') {
      args.push(currentClient);
    }
    location.hash = '#' + args.join(',');
  };

  var onNetworkChanged = function() {
    if (currentNetwork == network.value) {
      return;
    }

    currentNetwork = network.value;
    if (currentNetwork.trim() === '') {
      currentNetwork = network.placeholder;
    }
    $('.network').text(currentNetwork);
    $('.networkname').text(currentNetwork.replace(/\..*/, ''));
    updateHash();
  };
  $(network).on('change keypress paste input', onNetworkChanged);

  var onClientChange = function() {
    if (currentClient == client.value) {
      return;
    }

    currentClient = client.value;
    $('.client').text(currentClient);
    $('#clientinstructions pre').hide();
    $('#clientinstructions .instructions-'+currentClient).show();
    updateHash();
  };
  $(client).on('change keypress paste input', onClientChange);

  $(window).hashchange(function() {
    $.each(location.hash.replace(/^#/, '').split(","), function(idx, arg) {
      // Check if this part of the hash is a client name.
      var clientChanged = false;
      $('#client option').each(function(idx, el) {
        if (el.value == arg) {
          $(el).attr('selected', 'selected');
          clientChanged = true;
          return false;
        }
      });
      if (clientChanged) {
        onClientChange();
        return;
      }

      // If not, this is the network name.
      if (arg.trim() !== "") {
        network.value = arg;
        onNetworkChanged();
      }
    });
  });
  $(window).hashchange();  
});
</script>
</body>
</html>
<!--
vim:ts=2:sw=2:et
-->

